<h1>Create New Admin</h1>

<%= form_with(model: @admin, url: admins_path) do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit "Create Admin" %>
  </div>
<% end %>
